:root {
    --calm-ocean: #7f9393;
    --autumn: #8f625c;
    --soft-gold: #c5b28d;
    --reflection: #e0dedc;
    --powder-blue: #a7c1d6;
    --calm-ocean-shade: #627474;
    --autumn-shade: #6b4a45;
    --soft-gold-shade: #b19865;
    --reflection-shade: #c4c0bc;
    --powder-blue-shade: #7fa4c3;
    --calm-ocean-tint: #9fafaf;
    --autumn-tint: #ab827d;
    --soft-gold-tint: #d9cdb5;
    --reflection-tint: #fcfcfc;
    --powder-blue-tint: #d1dee9;
}
