/* For phones, landscape orientation */
@media (height <= 430px) and (orientation: landscape) {
    .debug #phones-landscape {
        display: flex;
        background-color: hotpink;
    }

    body {
        grid-template-rows: 0.65fr 6.5fr 0.65fr;
        grid-template-columns: 0.1fr 1.15fr 2.5fr 1.15fr 0.1fr;

        & > header {
            container: size;
            border-radius: revert;

            & > h1 {
                box-shadow: -7px -7px 8px rgb(255 255 255 / 60%), inset 4px 4px 0 rgb(255 255 255 / 30%), inset -4px 0 0 rgb(0 0 0 / 20%);

                & > span {
                    font-size: clamp(1.75rem, 6cqh, 3.75rem);
                    color: var(--light-background);
                    text-shadow: 0 4px 3px black;
                    background-color: transparent;
                    background-clip: revert;
                }
            }

            & nav {
                padding-top: clamp(0.25em, 2.5cqb, 1.5em);
                box-shadow: -6px -6px 8px rgb(255 255 255 / 60%), inset 3px 3px 0 rgb(255 255 255 / 30%), inset -3px 0 0 rgb(0 0 0 / 20%);
            }
        }

        & > footer {
            container: size;
            border-radius: revert;

            & nav {
                padding-bottom: clamp(0.25em, 2.5cqb, 1.5em);
                box-shadow: inset 3px -3px 0 rgb(255 255 255 / 30%), inset -3px 0 0 rgb(0 0 0 / 20%);
            }
        }

        & nav ul li a {
            font-size: clamp(0.75rem, 40cqh, 1.125rem);
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }

        & svg.side-arrow {
            display: block;
            flex: 0 0 auto;
            position: fixed;
            top: 45%;
            z-index: 10;
            width: 2.5rem;
            height: auto;
            visibility: hidden;
            fill: var(--curiosity-color);
            transition: opacity 0.4s ease, visibility 0s linear 0.4s;
        }

        & .icon-tabler-circle-chevron-left {
            left: 1cqw;
        }

        & .icon-tabler-circle-chevron-right {
            right: 1cqw;
        }

        & svg.side-arrow.visible {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.4s ease;
        }
    }

    #home {
        max-width: 300px;
        padding: 0;

        & #logo-stack {
            font-size: clamp(0.625rem, 5cqh, 1.125rem);

            & #web {
                margin-top: clamp(-15px, -8cqh, -10px);
                padding-top: 0;
                font-size: clamp(1.5rem, 30cqh, 6rem);
                color: transparent;
                line-height: 1;
                text-shadow: 0 3px 3px var(--creativity-color);
                background-clip: text;
            }

            & #development {
                align-items: flex-end;
                color: var(--compassion-color);
                margin-top: clamp(-1lh, -2lh, -1.2lh);
            }
        }

        & #name {
            margin: 5px 0;
            padding-top: clamp(5px, 1cqh, 10px);
            padding-bottom: clamp(5px, 1cqh, 10px);
            font-size: clamp(1.25rem, 10cqh, 4.5rem);
            border-top-width: 2px;
            border-bottom-width: 2px;
        }

        & #titles {
            margin: 0;
            font-size: clamp(1rem, 6.5cqh, 2rem);

            & .delimiter {
                display: none;
            }

            & h3 {
                flex-direction: column;

                &:last-of-type {
                    align-items: flex-end;
                }

                &:first-of-type div {
                    justify-content: flex-start;

                    & span {
                        margin-right: 0.15em;
                    }
                }

                &:last-of-type div {
                    justify-content: flex-end;

                    & span {
                        margin-left: 0.15em;
                    }
                }
            }
        }
    }

    #about {
        container-type: size;
        container-name: about;
        flex: 1 1 auto;
        height: 100%;
        min-height: 100%;

        & > header {
            display: flex;
            gap: 1em;
            position: sticky;
            top: 0;
            z-index: 10;
            margin: 3cqh 0;
            font-size: clamp(1.5rem, 12cqh, 5rem);

            & h1 {
                width: 80cqw;
            }

            & h1,
            & h2 {
                color: var(--opal-color);
                font-size: inherit !important;
                font-family: revert;
                font-variation-settings: "wght" 300;
                line-height: clamp(1.75rem, 7cqh, 6.5rem);
            }

            & h2 {
                display: flex;
                justify-content: space-between;
                flex: 1;
                font-variation-settings: "wght" 400;
            }
        }

        & > main {
            container-type: size;
            container-name: about-main;
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            height: 100%;
            overflow-y: auto;
            scroll-snap-type: y mandatory;
            scroll-behavior: smooth;
            scrollbar-width: none;
            -ms-overflow-style: none;
            overscroll-behavior: auto;

            &::-webkit-scrollbar {
                display: none;
            }

            & .value-panel {
                flex: 0 0 100%;
                display: grid;
                grid-template-columns: 3fr 1fr;
                grid-template-rows: auto 1fr;
                align-items: start;
                height: 100%;
                width: 100%;
                scroll-snap-align: start;

                & h3 {
                    grid-column: 1 / 3;
                    grid-row: 1;
                    align-self: start;
                    width: revert;
                    font-size: clamp(1.25rem, 18cqh, 3.25rem);
                    text-align: center !important;
                }

                & p {
                    grid-row: 2;
                    grid-column: 1;
                    align-self: center;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: clamp(1.125rem, 8cqh, 2rem);
                    line-height: clamp(1.25rem, 10.5cqh, 10rem);
                    text-align: left;
                    text-align-last: auto !important;
                }

                & img {
                    grid-row: 1 / 3;
                    grid-column: 2;
                    width: 90% !important;
                    height: 90% !important;
                    object-fit: contain;
                    aspect-ratio: 1 / 1;
                    place-self: stretch center;
                }
            }

            & #creativity h3 {
                font-weight: bold;
            }
        }
    }

    #projects {
        display: revert;

        & > main {
            container-type: size;
            container-name: projects-main;
            display: flex;
            position: relative;
            height: 100%;
            width: 100%;
            overflow: auto hidden;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            & > .project-card {
                flex: 0 0 100%;
                flex-direction: row;
                justify-content: center;
                align-items: revert;
                width: 100%;
                scroll-snap-align: start;

                &:nth-child(even) {
                    flex-direction: row;
                }

                & h2 a {
                    display: inline-block;
                    width: revert;
                    padding: 0.5rem 0.75rem;
                    font-size: clamp(1.75rem, 5cqh, 3rem);
                    letter-spacing: 0.25em;
                    border-width: 0 1.5px;
                    transform: rotate(180deg);
                }

                & h2 a::before,
                & h2 a::after {
                    width: 1.5px;
                }

                & .figure-card {
                    width: 70%;
                    aspect-ratio: revert;
                    position: relative;

                    & figure > *:hover,
                    &.flipped figure > * {
                        border: 5px solid var(--creativity-color);
                    }

                    & figure {
                        & img {
                            /* height: 90cqh;
                            width: auto; */
                            height: auto;
                            width: 53cqw;
                        }

                        & figcaption {
                            /* height: 90cqh; */
                            /* height: auto; */
                            /* width: revert; */
                            /* width: auto; */
                            width: 53cqw;
                            height: 27cqw;
                            padding: 0.5rem;
                            font-size: clamp(0.875rem, 6cqh, 3rem);
                            line-height: clamp(1rem, 7cqh, 4rem);
                        }
                    }

                    & svg {
                        right: 7cqw;
                        bottom: 2cqh;
                        width: 7.5cqw !important;
                        padding: 0.25cqw;
                    }
                }
            }

            & > .project-card:nth-child(3),
            & > .project-card:nth-child(4) {
                border-top: none;
            }

            & > .project-card-clone {
                display: flex;
                flex: 0 0 auto;
            }
        }
    }
}
