/* For tablets in landscape orientations */
/* @media (min-width: 600px) and (max-width: 1280px) and (min-height: 600px) and (orientation: landscape) { */
@media (min-width: 901px) and (max-width: 1280px) and (orientation: landscape) {
    .debug #tablets-landscape {
        display: flex;
        background-color: orange;
    }

    body > header,
    body > footer {
        height: 3.5em;
    }

    #about > main {
        & .value-panel p {
            margin-top: 0.5rem;
            font-size: clamp(1rem, 0.75vw, 1.25rem);
            line-height: 1.5;
        }

        & .value-panel img {
            width: 60%;
        }
    }

    #projects > main {
        & > .project-card {
            & .figure-card {
                & figure figcaption {
                    padding: 0.5rem;
                }
            }
        }
    }

    /* @container projects (min-height: 650px) {
        #projects > main > .project-card {
            flex-direction: column;
            justify-content: center;

            &:nth-child(odd) {
                flex-direction: column;
            }

            &:nth-child(4),
            &:nth-child(5) {
                flex-direction: column-reverse;

                & h2,
                & h2 {
                    margin-bottom: 0;
                    margin-top: clamp(1rem, 3cqh, 2rem);
                }
            }

            & h2 {
                height: revert;
                margin-bottom: clamp(1rem, 3cqh, 2rem);

                & a {
                    padding: clamp(1rem, 1cqh, 2rem) 0;
                    font-size: clamp(2rem, min(6cqw, 4.7cqh), 4rem);
                    writing-mode: revert;

                    &::before,
                    &::after {
                        top: auto;
                        bottom: 0;
                        height: 2px;
                        width: 100%;
                        transform-origin: right;
                        transform: scaleX(1);
                    }

                    &::before {
                        top: 0;
                        bottom: auto;
                        transform: scaleX(0);
                        transform-origin: left;
                    }

                    &:hover {
                        &::before {
                            transform: scaleX(1);
                        }

                        &::after {
                            transform: scaleX(0);
                        }
                    }
                }
            }

            &:nth-child(even) h2 a {
                transform: rotate(0deg);
            }
        }
    } */

    #resume {
        & > header {
            & > nav {
                & > ul {
                    & li {
                        font-size: clamp(1rem, 1.5cqh, 2rem);
                    }
                }
            }

            & h1 {
                font-size: clamp(1.5rem, 5cqh, 2rem);
            }
        }

        & > main {
            & .resume-section {
                padding: clamp(0.35em, 0.5em, 0.75em);

                &#summary {
                    padding: clamp(0.25em, 0.5em, 1em);
                    font-size: clamp(0.75rem, 2.5cqw, 1.75rem);
                }

                &#education {
                    & > ul > li.academics {
                        & > details {
                            & > summary {
                                font-size: clamp(0.45em, 0.6em, 0.85em);

                                & span.college-location {
                                    font-size: clamp(0.65em, 0.9em, 1.15em);
                                }
                            }

                            & > ul.education-details {
                                font-size: clamp(0.25em, 0.5em, 0.75em);

                                & > li {
                                    &.academic-credential {
                                        font-size: 1em;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }
                    }
                }

                &#relevant-experience {
                    padding: clamp(0.125em, 0.25em, 0.75em);

                    & > ul {
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: flex-start;
                        width: 100%;

                        & > li {
                            width: 100%;
                            margin-bottom: clamp(0.125em, 0.25em, 0.4em);

                            & details {
                                & summary {
                                    justify-content: space-between;
                                    color: var(--creativity-color);
                                    font-size: clamp(0.5em, 0.75em, 1.25em);

                                    & > span:first-child {
                                        font-weight: 800;
                                    }

                                    & > span:last-child {
                                        font-weight: 600;
                                        font-variation-settings: "wght" 600;
                                    }
                                }

                                &:not([open]) > summary {
                                    justify-content: flex-start;

                                    &::before {
                                        content: "\25B6\FE0E";
                                        margin-right: 0.5em;
                                    }

                                    &::after {
                                        content: "";
                                        width: 10cqh;
                                        height: 10cqh;
                                        margin-top: -2cqh;
                                        margin-left: 1em;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                    }

                                    &.liberty::after {
                                        background-image: url("/images/resume/projects/statue_of_liberty.png");
                                    }

                                    &.calendar::after {
                                        background-image: url("/images/resume/projects/calendar.png");
                                    }
                                    &.flight::after {
                                        background-image: url("/images/resume/projects/airplane.png");
                                    }

                                    &.wordpress::after {
                                        background-image: url("/images/resume/projects/wordpress_plugin.png");
                                    }
                                    &.pirate::after {
                                        background-image: url("/images/resume/projects/pirate_ship_and_map.png");
                                    }
                                }

                                & .project-details {
                                    & ul.web-technologies-used {
                                        display: grid;
                                        grid-template-rows: repeat(2, 1fr);
                                        grid-template-columns: repeat(2, 1fr);
                                        column-gap: 0.5em;

                                        &.game {
                                            display: grid;
                                            grid-template-rows: repeat(3, 1fr);
                                            grid-template-columns: repeat(2, 1fr);
                                            column-gap: 0.5em;
                                        }

                                        & li img {
                                            height: 1em;
                                        }
                                    }

                                    & p {
                                        font-size: clamp(0.45em, 0.6em, 0.85em);
                                    }
                                }
                            }
                        }
                    }
                }

                &#professional-experience {
                    font-size: 3cqw;
                    padding: clamp(0.125em, 0.35em, 0.75em);

                    @media (min-height: 700px) {
                        font-size: 4cqw;
                    }

                    & > ul {
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: flex-start;
                        width: 100%;

                        & > li.job {
                            grid-template-columns: repeat(5, 1fr);
                            width: 100%;
                            margin-bottom: clamp(0.125em, 0.25em, 0.4em);

                            &:has(details[open]) {
                                padding-bottom: clamp(0.25em, 0.4em, 0.65em);
                            }

                            &:has(details[name]:not([open])) > img {
                                visibility: visible;
                            }

                            & > details {
                                & > summary {
                                    font-size: clamp(0.25em, 0.65em, 0.9em);

                                    & span.job-title {
                                        font-weight: 600;
                                    }
                                }

                                &[name][open] > summary {
                                    & > span.job-title {
                                        font-weight: 800;
                                    }

                                    & > span.employment-dates {
                                        font-weight: 400;
                                        font-variation-settings: "wght" 500;
                                    }
                                }

                                & > ul.job-details {
                                    font-size: clamp(0.25em, 0.5em, 0.9em);

                                    & > li {
                                        &.employer {
                                            border-bottom: 1px solid var(--empathy-color);
                                        }

                                        &.employment-dates {
                                            color: var(--empathy-color);
                                        }

                                        &.job-duties {
                                            & > ul > li {
                                                font-size: clamp(0.45em, 0.7em, 0.95em);
                                                line-height: clamp(1.5, 1.75, 2);
                                            }
                                        }
                                    }
                                }
                            }

                            & > img {
                                width: auto;
                                height: 10cqh;

                                &[src$="kimpton_palomar_logo.png"] {
                                    height: 15cqh;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #email {
        width: 80%;

        & form {
            grid-column: 1 / 4;
            justify-content: space-around;
            width: 100%;

            & h2 {
                margin-top: 0;
                white-space: nowrap;
            }

            & fieldset {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(3, 1fr);
                row-gap: 3cqh;
                column-gap: 5cqw;

                height: 50cqh;

                & label {
                    &[for="name"] {
                        grid-row: 1;
                        grid-column: 1;
                    }

                    &[for="email"] {
                        grid-row: 2;
                        grid-column: 1;
                        align-self: end;
                        margin-bottom: 0;
                    }

                    &[for="message"] {
                        grid-row: 1 / 3;
                        grid-column: 2 / 4;
                        width: revert;
                        align-self: stretch;
                        margin-bottom: 0;

                        & > textarea {
                            flex: 1 1 0;
                        }
                    }

                    &:has(button) {
                        grid-row: 3;
                        grid-column: 1 / 4;
                        flex-direction: row;
                        justify-content: end;
                        align-self: start;
                        width: revert;
                    }

                    & > span {
                        display: none;
                    }

                    & > button {
                        margin-top: 0;
                        padding: 1cqh 4cqw;
                    }
                }
            }
        }
    }
}
