/* for tablets in portrait orientation */
@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
    body {
        grid-template-columns: 0.5fr 1.25fr 3fr 1.25fr 0.5fr;
    }

    #corner-4 {
        /* DEBUG */
background-color: purple;
    }

    body > header {
        font-size: clamp(3.75rem, 4vw, 8rem);
    }

    body > header nav {
        margin-right: 0.75rem;
    }

    body > footer nav {
        margin-top: 0.25rem;
    }

    body nav ul li a {
        padding-bottom: 0;
        font-size: 1.5rem;
    }

    nav ul li a > svg {
        display: inline;
        width: 2.25rem;
        height: 2.25rem;
        vertical-align: text-bottom;
    }

    nav ul li a > span {
        display: none;
    }

    #home {
        transform: scale(1.5);
    }

    #home #name h2 {
        padding-top: 10px;
    }

    #home #titles h3 {
        flex-direction: column;
    }

    #home #titles h3:last-of-type {
        align-items: flex-end;
    }

    #home #titles h3:first-of-type div {
        justify-content: flex-start;
    }

    #home #titles h3:first-of-type div span {
        margin-right: 0.15em;
    }

    #home #titles h3:last-of-type div {
        justify-content: flex-end;
    }

    #home #titles h3:last-of-type div span {
        margin-left: 0.15em;
    }

    #home #titles .delimiter {
        display: none;
    }

    #about > header h1 {
        flex-direction: column;
        justify-content: space-between;
        font-size: clamp(3.5rem, 6.5vw, 10rem);
        line-height: clamp(4.5rem, 7.5vw, 12rem);
    }

    #about > header h1 div {
        width: 100%;
    }

    #about > header h1 div:first-of-type span:last-of-type {
        display: none;
    }

    #about > header h2 {
        margin: 1rem 0;
        color: #f8e3bb;
        font-family: "Praise";
        font-size: clamp(3rem, 4vw, 7rem);
        text-align: center;
    }

    #about > main .value-panel {
        min-width: 0;
    }

    #about > main .value-panel h3 {
        font-size: clamp(2.125rem, 3.9375vw, 6.25rem);
        line-height: clamp(2.5rem, 4.375vw, 7rem);
    }

    #about > main .value-panel p {
        margin-top: 1rem;
        font-size: clamp(1.125rem, 1.05vw, 1.625rem);
        line-height: 1.5;
    }

    #about > main #creativity h3 {
        font-size: clamp(2.0675rem, 3.85vw, 6.125rem);
    }

    #about > main #compassion h3 {
        font-size: clamp(2.75rem, 5vw, 7.5rem);
    }

    #about > main .value-panel p {
        margin-bottom: 2rem;
    }

    #about > main .value-panel img {
        width: 90%;
    }

    #about > main #creativity img {
        width: 90%;
    }

    #projects {
        display: revert;
        width: 100%;
        min-height: revert;
    }

    #projects > main {
        container-type: size;
        container-name: projects-main;
        display: revert;
        width: 100%;
        height: 100%;
        position: relative;
    }

    #projects > main > .project-card:not(.project-card-clone) {
        display: revert;
        position: absolute;
        height: 100%;
    }

    #projects > main > .project-card:nth-child(4) {
        border-top: none;
    }

    #projects > main > .project-card:nth-child(5) {
        border-top: none;
    }

    /* To override default style */
    #projects > main > .project-card:nth-child(even) {
        flex-direction: column;
    }

    #projects > main > .project-card:not(.active) h2,
    #projects > main > .project-card:not(.active) .figure-card figure figcaption {
        opacity: 0;
    }

    #project-1 a {
        z-index: 10;
    }
    #project-2 a {
        z-index: 8;
    }
    #project-3 a {
        z-index: 6;
    }
    #project-4 a {
        z-index: 4;
    }

    #projects > main > .project-card h2 {
        display: revert;
        height: revert;
        padding-top: 1.25rem;
        padding-bottom: 5rem;
        text-align: center;
    }

    #projects > main > .project-card h2 a {
        display: inline-block;
        width: revert;
        padding: 0.5rem 0;
        font-variation-settings: "wght" 300;
        /* font-size: clamp(3rem, 7.38cqh, 5rem); */
        font-size: 80px;
        letter-spacing: 2rem;
        writing-mode: revert;
    }

    #projects > main > .project-card:nth-child(even) h2 a {
        transform: none;
    }

    #projects > main > .project-card h2 a::before,
    #projects > main > .project-card h2 a::after {
        top: auto;
        bottom: 0;
        height: 2px;
        width: 100%;
        transform-origin: right;
        transform: scaleX(1);
    }

    #projects > main > .project-card h2 a::before {
        top: 0;
        bottom: auto;
        transform: scaleX(0);
        transform-origin: left;
    }

    #projects > main > .project-card h2 a:hover::before {
        transform: scaleX(1);
    }

    #projects > main > .project-card h2 a:hover::after {
        transform: scaleX(0);
    }

    #projects > main > .project-card .figure-card {
        position: revert;
        width: revert;
        height: 80%;
        aspect-ratio: revert;
        perspective: revert;
    }

    #projects > main > .project-card .figure-card figure {
        display: revert;
        /* position: revert; */
        width: revert;
        height: 100%;
        transform: none;
        transition: none;
        transform-style: unset;
    }

    #projects > main > .project-card .figure-card.flipped figure {
        transform: none;
    }

    #projects > main > .project-card .figure-card figure > * {
        position: revert;
        width: revert;
        height: revert;
        -webkit-backface-visibility: revert;
        backface-visibility: revert;
        transition: border-width 0.3s ease;
    }

    #projects > main > .project-card .figure-card figure img {
        z-index: revert;
        object-fit: revert;
        width: 80%;
        height: auto;
        transition: top 0.5s ease, left 0.5s ease, z-index 0.5s ease;
    }

    #projects > main #project-1 img {
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 10;
    }

    #projects > main #project-2 img {
        position: relative;
        top: 15px;
        left: 15px;
        z-index: 8;
    }

    #projects > main #project-3 img {
        position: relative;
        top: -20px;
        left: -20px;
        z-index: 6;
    }

    #projects > main #project-4 img {
        position: relative;
        top: -55px;
        left: -55px;
        z-index: 4;
    }

    #projects > main > .project-card .figure-card figure figcaption {
        display: revert;
        position: relative;
        z-index: revert;
        width: 95%;
        margin-top: 5rem; /* auto 0 auto;*/
        color: #f2bc71;
        font-size: 1.5rem;
        /* font-size: clamp(1rem, 2.25cqh, 2rem); */
        background-color: revert;
        transform: none;
    }

    #projects > main .project-card .figure-card svg {
        display: none;
    }
}
