/* For tablets in landscape orientations */
@media (min-width: 600px) and (max-width: 1280px) and (min-height: 600px) and (orientation: landscape) {
    .debug #tablets-landscape {
        display: flex;
        background-color: orange;
    }

    #about > main {
        & .value-panel p {
            margin-top: 0.5rem;
            font-size: clamp(1rem, 0.75vw, 1.25rem);
            line-height: 1.5;
        }

        & #compassion p em.value-word {
            font-size: 1.5em;
            line-height: 1.25;
        }

        & .value-panel img {
            width: 60%;
        }
    }

    #projects > main {
        & > .project-card {
            & .figure-card {
                & figure figcaption {
                    padding: 0.5rem;
                }

                & svg {
                    bottom: 0.5cqh;
                    width: 4cqw !important;
                    padding: 0.25cqw;
                }
            }
            &:nth-child(even) .figure-card svg {
                left: 1cqw;
            }
            &:nth-child(odd) .figure-card svg {
                right: 1cqw;
            }
        }
    }

    @container projects (max-wdith: 780) {
    }

    @container projects (min-height: 650px) {
        #projects > main > .project-card {
            flex-direction: column;
            justify-content: center;

            &:nth-child(odd) {
                flex-direction: column;
            }

            &:nth-child(4),
            &:nth-child(5) {
                flex-direction: column-reverse;

                & h2,
                & h2 {
                    margin-bottom: 0;
                    margin-top: clamp(1rem, 3cqh, 2rem);
                }
            }

            & h2 {
                height: revert;
                margin-bottom: clamp(1rem, 3cqh, 2rem);

                & a {
                    padding: clamp(1rem, 1cqh, 2rem) 0;
                    font-size: clamp(2rem, min(6cqw, 4.7cqh), 4rem);
                    writing-mode: revert;

                    &::before,
                    &::after {
                        top: auto;
                        bottom: 0;
                        height: 2px;
                        width: 100%;
                        transform-origin: right;
                        transform: scaleX(1);
                    }

                    &::before {
                        top: 0;
                        bottom: auto;
                        transform: scaleX(0);
                        transform-origin: left;
                    }

                    &:hover {
                        &::before {
                            transform: scaleX(1);
                        }

                        &::after {
                            transform: scaleX(0);
                        }
                    }
                }
            }

            &:nth-child(even) h2 a {
                transform: rotate(0deg);
            }
        }
    }
}
