/* for tablets in portrait orientation */
@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
    .debug #tablets-portrait {
        display: flex;
        color: white;
        background-color: purple;
    }

    body {
        nav ul li a {
            & > svg {
                display: inline;
                vertical-align: text-bottom;
            }

            & > span {
                display: none;
            }
        }
    }

    #home {
        padding-left: clamp(1em, 3.5cqw, 3em);
        padding-right: clamp(1em, 3.5cqw, 3em);

        & #titles h3 {
            flex-direction: column;

            &:last-of-type {
                align-items: flex-end;
                row-gap: clamp(0.5em, 1.5cqh, 1em);
            }

            &:first-of-type div {
                justify-content: flex-start;
            }

            &:first-of-type div span {
                margin-right: clamp(0.25em, 1.5cqw, 1em);
            }

            &:last-of-type div {
                justify-content: flex-end;
            }

            &:last-of-type div span {
                margin-right: clamp(0.25em, 1.5cqw, 2em);
            }
        }

        & #titles .delimiter {
            display: none;
        }
    }

    #about {
        & > header {
            & h1 {
                flex-direction: column;
                justify-content: space-between;
                font-size: clamp(3.5rem, 6.5vw, 10rem);
                line-height: clamp(4.5rem, 7.5vw, 12rem);

                & div {
                    width: 100%;
                }

                & div:first-of-type span:last-of-type {
                    display: none;
                }
            }

            & h2 {
                margin: 1rem 0;
                color: #f8e3bb;
                font-family: "Praise";
                font-size: clamp(3rem, 4vw, 7rem);
                text-align: center;
            }
        }

        & > main {
            & .value-panel {
                min-width: 0;

                & h3 {
                    font-size: clamp(2.125rem, 3.9375vw, 6.25rem);
                    line-height: clamp(2.5rem, 4.375vw, 7rem);
                }

                & p {
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                    font-size: clamp(1.125rem, 1.05vw, 1.625rem);
                    line-height: 1.5;
                }

                & img {
                    width: 90%;
                }
            }

            & #creativity h3 {
                font-size: clamp(2.0675rem, 3.85vw, 6.125rem);
            }

            & #compassion h3 {
                font-size: clamp(2.75rem, 5vw, 7.5rem);
            }

            & #creativity img {
                width: 90%;
            }
        }
    }

    #projects {
        display: revert;
        width: 100%;
        min-height: revert;

        & > main {
            container-type: size;
            container-name: projects-main;
            display: revert;
            width: 100%;
            height: 100%;
            position: relative;

            & > .project-card {
                &:not(.project-card-clone) {
                    display: revert;
                    position: absolute;
                    height: 100%;
                }

                &:nth-child(4) {
                    border-top: none;
                }

                &:nth-child(5) {
                    border-top: none;
                }

                /* To override default style */
                &:nth-child(even) {
                    flex-direction: column;
                }

                &:not(.active) h2,
                &:not(.active) .figure-card figure figcaption {
                    opacity: 0;
                }

                & h2 {
                    display: revert;
                    height: revert;
                    padding-top: 1.25rem;
                    padding-bottom: 5rem;
                    text-align: center;

                    & a {
                        display: inline-block;
                        width: revert;
                        padding: 0.5rem 0;
                        font-variation-settings: "wght" 300;
                        font-size: clamp(3rem, 7.38cqh, 5rem);
                        /* font-size: 80px; */
                        letter-spacing: 2rem;
                        writing-mode: revert;

                        &::before,
                        &::after {
                            top: auto;
                            bottom: 0;
                            height: 2px;
                            width: 100%;
                            transform-origin: right;
                            transform: scaleX(1);
                        }

                        &::before {
                            top: 0;
                            bottom: auto;
                            transform: scaleX(0);
                            transform-origin: left;
                        }

                        &:hover {
                            &::before {
                                transform: scaleX(1);
                            }

                            &::after {
                                transform: scaleX(0);
                            }
                        }
                    }
                }

                &:nth-child(even) h2 a {
                    transform: none;
                }

                & .figure-card {
                    position: revert;
                    width: revert;
                    height: 80%;
                    aspect-ratio: revert;
                    perspective: revert;

                    & figure {
                        display: revert;
                        /* position: revert; */
                        width: revert;
                        height: 100%;
                        transform: none;
                        transition: none;
                        transform-style: unset;

                        & > * {
                            position: revert;
                            width: revert;
                            height: revert;
                            -webkit-backface-visibility: revert;
                            backface-visibility: revert;
                            transition: border-width 0.3s ease;
                        }

                        & img {
                            z-index: revert;
                            object-fit: revert;
                            width: 80%;
                            height: auto;
                            transition: top 0.5s ease, left 0.5s ease, z-index 0.5s ease;
                        }

                        & figcaption {
                            display: revert;
                            position: relative;
                            z-index: revert;
                            width: 95%;
                            height: auto;
                            margin-top: 5rem; /* auto 0 auto;*/
                            color: #f2bc71;
                            font-size: 1.5rem;
                            /* font-size: clamp(1rem, 2.25cqh, 2rem); */
                            background-color: revert;
                            interpolate-size: allow-keywords;
                            transform: none;
                            transition: height 5s ease;
                        }
                    }

                    &.flipped figure {
                        transform: none;
                    }

                    & svg {
                        display: none;
                    }
                }
            }
        }

        #project-1 {
            & a {
                z-index: 10;
            }

            & img {
                position: relative;
                top: 50px;
                left: 50px;
                z-index: 10;
            }
        }
        #project-2 {
            & a {
                z-index: 8;
            }

            & img {
                position: relative;
                top: 15px;
                left: 15px;
                z-index: 8;
            }
        }
        #project-3 {
            & a {
                z-index: 6;
            }

            & img {
                position: relative;
                top: -20px;
                left: -20px;
                z-index: 6;
            }
        }
        #project-4 {
            & a {
                z-index: 4;
            }

            & img {
                position: relative;
                top: -55px;
                left: -55px;
                z-index: 4;
            }
        }
    }
}
