/* Tall Screens */
@media (min-width: 1025px) and (max-width: 1800px) and (min-height: 800px) /*(orientation: portrait) */ {
    .debug #tall-screens {
        display: flex;
        background-color: yellow;
    }

    #projects > main .project-card {
        flex-direction: column;
        justify-content: center;

        &:nth-child(odd) {
            flex-direction: column;

            & h2 a {
                transform: rotate(0deg);
            }
        }
        &:nth-child(even) {
            flex-direction: column;
        }

        &:nth-child(3),
        &:nth-child(4) {
            flex-direction: column-reverse;

            & h2,
            & h2 {
                margin-bottom: 0;
                margin-top: clamp(1rem, 2cqh, 2rem);
            }
        }

        & h2 {
            height: revert;
            margin-bottom: clamp(1rem, 2cqmin, 2rem);

            & a {
                padding: clamp(1rem, 1cqh, 2rem) 0;
                font-size: clamp(2rem, min(6cqw, 4.7cqh), 4rem);
                writing-mode: revert;

                &::before,
                &::after {
                    top: auto;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    transform-origin: right;
                    transform: scaleX(1);
                }

                &::before {
                    top: 0;
                    bottom: auto;
                    transform: scaleX(0);
                    transform-origin: left;
                }

                &:hover::before {
                    transform: scaleX(1);
                }

                &:hover::after {
                    transform: scaleX(0);
                }
            }
        }
    }

    @container projects (max-width: 1080px) {
        #projects {
            display: revert;
            width: 100%;
            min-height: revert;

            #projects > main {
                container-type: size;
                container-name: projects-main;
                display: revert;
                width: 100%;
                height: 100%;
                position: relative;

                & .project-card {
                    &:not(.project-card-clone) {
                        display: revert;
                        position: absolute;
                        height: 100%;
                    }

                    &:nth-child(4) {
                        border-top: none;
                    }

                    &:nth-child(5) {
                        border-top: none;
                    }

                    /* To override default style */
                    &:nth-child(even) {
                        flex-direction: column;
                    }

                    &:not(.active) h2,
                    &:not(.active) .figure-card figure figcaption {
                        opacity: 0;
                    }

                    & h2 {
                        display: revert;
                        height: revert;
                        padding-top: 1.25rem;
                        padding-bottom: 5rem;
                        text-align: center;

                        & a {
                            display: inline-block;
                            width: revert;
                            padding: 0.5rem 0;
                            font-variation-settings: "wght" 300;
                            font-size: clamp(3rem, 7.38cqh, 5rem);
                            /* font-size: 80px; */
                            letter-spacing: 2rem;
                            writing-mode: revert;

                            &::before,
                            &::after {
                                top: auto;
                                bottom: 0;
                                height: 2px;
                                width: 100%;
                                transform-origin: right;
                                transform: scaleX(1);
                            }

                            &::before {
                                top: 0;
                                bottom: auto;
                                transform: scaleX(0);
                                transform-origin: left;
                            }

                            &:hover {
                                &::before {
                                    transform: scaleX(1);
                                }

                                &::after {
                                    transform: scaleX(0);
                                }
                            }
                        }

                        &:nth-child(even) h2 a {
                            transform: none;
                        }
                    }

                    & .figure-card {
                        position: revert;
                        width: revert;
                        height: 80%;
                        aspect-ratio: revert;
                        perspective: revert;

                        &.flipped figure {
                            transform: none;
                        }

                        & figure {
                            display: revert;
                            /* position: revert; */
                            width: revert;
                            height: 100%;
                            transform: none;
                            transition: none;
                            transform-style: unset;

                            & > * {
                                position: revert;
                                width: revert;
                                height: revert;
                                -webkit-backface-visibility: revert;
                                backface-visibility: revert;
                                transition: border-width 0.3s ease;
                            }

                            & img {
                                z-index: revert;
                                object-fit: revert;
                                width: 80%;
                                height: auto;
                                transition: top 0.5s ease, left 0.5s ease, z-index 0.5s ease;
                            }

                            & figcaption {
                                display: revert;
                                position: relative;
                                z-index: revert;
                                width: 95%;
                                height: auto;
                                margin-top: 5rem; /* auto 0 auto;*/
                                color: #f2bc71;
                                font-size: 1.5rem;
                                /* font-size: clamp(1rem, 2.25cqh, 2rem); */
                                background-color: revert;
                                interpolate-size: allow-keywords;
                                transform: none;
                                transition: height 5s ease;
                            }
                        }
                    }


                }

                & #project-1 {
                    & img {
                        position: relative;
                        top: 50px;
                        left: 50px;
                        z-index: 10;
                    }

                    & a {
                        z-index: 10;
                    }
                }

                & #project-2 {
                    & img {
                        position: relative;
                        top: 15px;
                        left: 15px;
                        z-index: 8;
                    }

                    & a {
                        z-index: 8;
                    }
                }

                & #project-3 {
                    & img {
                        position: relative;
                        top: -20px;
                        left: -20px;
                        z-index: 6;
                    }

                    & a {
                        z-index: 6;
                    }
                }

                & #project-4 {
                    & img {
                        position: relative;
                        top: -55px;
                        left: -55px;
                        z-index: 4;
                    }

                    & a {
                        z-index: 4;
                    }
                }
            }
        }
    }

    @container projects (max-height: 800px) {
        #projects > main .project-card {
            & h2 {
                margin-top: 0;
                /* margin-bottom: -2cqh; */
            }

            &:nth-child(4) h2,
            &:nth-child(5) h2 {
                margin-bottom: 0;
                /* margin-top: -2cqh; */
            }

            &.figure-card {
                & figure img {
                    width: auto;
                    height: 30cqmin;
                }

                & svg {
                    position: absolute;
                    right: 1.5cqw;
                    bottom: 2.5cqh;
                    height: auto;
                    width: 1.5cqw !important;
                }
            }
        }
    }
}
