/* Desktop Computers in Portrait Orientation */
@media (min-width: 1025px) and (max-width: 1800px) and (min-height: 800px) and (orientation: portrait) {
    .debug #desktops-portrait {
        display: flex;
        background-color: yellow;
    }

    body {
        & > header,
        & > footer {
            > nav > ul {
                & > li {
                    padding: 0 4.5em;

                    & > a {
                        font-size: 2vh;
                        font-weight: 400;
                        font-variation-settings: "wght" 400;
                    }
                }
            }
        }

        & footer {
            & nav {
                padding-top: 0;
            }
        }
    }

    #home {
        width: 90%;
        max-width: none;

        & #logo-stack {
            & #web {
                margin-bottom: 1cqh;
                font-size: 20cqh;
            }
        }

        & #name {
            margin: 2.5cqh 0;
            font-size: 7.5cqh;
        }

        & #titles {
            margin-top: 0;

            & h3 {
                flex-direction: column;
                row-gap: 1.5cqh;
                font-size: 2.75em;

                &#vertical-bar {
                    display: none;
                }

                &:first-of-type > div {
                    justify-content: flex-start;

                    & > span {
                        margin-right: 0.2em;
                    }
                }
                &:last-of-type > div {
                    justify-content: flex-end;
                    & > span {
                        margin-left: 0.2em;
                    }
                }
            }
        }
    }

    #about {
        justify-content: center;
        width: 95%;

        & > header {
            & > h1 {
                flex-direction: column;
                font-size: calc((10cqw + 8cqh) / 2);

                & > div:first-of-type > span {
                    &:last-child,
                    &:nth-last-child(2),
                    &:nth-last-child(3) {
                        display: none;
                    }
                }

                & > span {
                    display: inline;
                    font-family: "Clicker Script";
                    font-size: 0.75em;
                }

                & > div:last-of-type {
                    margin-top: -0.5em;
                }
            }
            & h2 {
                text-align: left;
                margin: 1cqh calc((10cqw + 10cqh) / 2) 0;
            }
        }

        & > main {
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: revert;
            row-gap: calc((1cqw + 1cqh) / 2);

            & > .value-panel {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                row-gap: 1cqh;

                & > * {
                    flex: 1;
                }

                & > h3 {
                    font-size: calc((6cqw + 5cqh) / 2);
                }

                & > p {
                    margin-right: 3cqw;
                    padding: 0 1cqh;
                    font-size: calc((1.5cqw + 1.5cqh) / 2);
                    text-align: center;
                    hyphens: none;
                }

                & > img {
                    max-width: calc((14cqw + 14cqh) / 2);
                    margin-top: 0;
                }

                &#empathy > h3 {
                    font-size: clamp(4em, 6.5cqh, 8em);
                    font-size: calc((6.5cqw + 6.5cqh) / 2);
                }
            }
        }
    }

    #projects {
        width: 100%;

        > main {
            grid-template-rows: repeat(4, auto);
            grid-template-columns: 1fr;

            & .project-card {
                flex-direction: row;
                justify-content: flex-start;
                max-height: min-content;

                &:nth-child(even) {
                    flex-direction: row-reverse;

                    & h2 {
                        margin-left: 2vw;
                        margin-right: 2vw;
                    }
                }

                &:nth-child(odd) h2 {
                    margin-right: 2vw;
                }

                &:nth-child(3),
                &:nth-child(4) {
                    border-top: none;
                }

                & h2 {
                    height: revert;
                    margin-left: 2vw;

                    & a {
                        padding: 0 clamp(1rem, 1cqh, 2rem);
                        font-size: clamp(2rem, min(6cqw, 4.7cqh), 3vh);

                        &:hover {
                            padding-top: 1.25vh;
                            padding-bottom: 0.5vh;
                        }
                    }
                }

                & > .figure-card {
                    width: 41.5cqh;
                    height: auto;

                    & > figure {
                        & > img {
                            width: 100%;
                            height: auto;
                        }

                        & figcaption {
                            width: 100%;
                            height: 100%;
                            font-size: 1.125vh;
                        }
                    }
                }
            }
        }
    }

    /* @container projects (max-width: 1080px) {
        #projects {
            display: revert;
            width: 100%;
            min-height: revert;

            #projects > main {
                container-type: size;
                container-name: projects-main;
                display: revert;
                width: 100%;
                height: 100%;
                position: relative;

                & .project-card {
                    &:not(.project-card-clone) {
                        display: revert;
                        position: absolute;
                        height: 100%;
                    }

                    &:nth-child(4) {
                        border-top: none;
                    }

                    &:nth-child(5) {
                        border-top: none;
                    }

                    &:nth-child(even) {
                        flex-direction: column;
                    }

                    &:not(.active) h2,
                    &:not(.active) .figure-card figure figcaption {
                        opacity: 0;
                    }

                    & h2 {
                        display: revert;
                        height: revert;
                        padding-top: 1.25rem;
                        padding-bottom: 5rem;
                        text-align: center;

                        & a {
                            display: inline-block;
                            width: revert;
                            padding: 0.5rem 0;
                            font-variation-settings: "wght" 300;
                            font-size: clamp(3rem, 7.38cqh, 5rem);
                            letter-spacing: 2rem;
                            writing-mode: revert;

                            &::before,
                            &::after {
                                top: auto;
                                bottom: 0;
                                height: 2px;
                                width: 100%;
                                transform-origin: right;
                                transform: scaleX(1);
                            }

                            &::before {
                                top: 0;
                                bottom: auto;
                                transform: scaleX(0);
                                transform-origin: left;
                            }

                            &:hover {
                                &::before {
                                    transform: scaleX(1);
                                }

                                &::after {
                                    transform: scaleX(0);
                                }
                            }
                        }

                        &:nth-child(even) h2 a {
                            transform: none;
                        }
                    }

                    & .figure-card {
                        position: revert;
                        width: revert;
                        height: 80%;
                        aspect-ratio: revert;
                        perspective: revert;

                        &.flipped figure {
                            transform: none;
                        }

                        & figure {
                            display: revert;
                            width: revert;
                            height: 100%;
                            transform: none;
                            transition: none;
                            transform-style: unset;

                            & > * {
                                position: revert;
                                width: revert;
                                height: revert;
                                -webkit-backface-visibility: revert;
                                backface-visibility: revert;
                                transition: border-width 0.3s ease;
                            }

                            & img {
                                z-index: revert;
                                object-fit: revert;
                                width: 80%;
                                height: auto;
                                transition: top 0.5s ease, left 0.5s ease, z-index 0.5s ease;
                            }

                            & figcaption {
                                display: revert;
                                position: relative;
                                z-index: revert;
                                width: 95%;
                                height: auto;
                                margin-top: 5rem;
                                color: var(--curiosity-color);
                                font-size: 1.5rem;                                
                                background-color: revert;
                                interpolate-size: allow-keywords;
                                transform: none;
                                transition: height 5s ease;
                            }
                        }
                    }
                }

                & #project-1 {
                    & img {
                        position: relative;
                        top: 50px;
                        left: 50px;
                        z-index: 10;
                    }

                    & a {
                        z-index: 10;
                    }
                }

                & #project-2 {
                    & img {
                        position: relative;
                        top: 15px;
                        left: 15px;
                        z-index: 8;
                    }

                    & a {
                        z-index: 8;
                    }
                }

                & #project-3 {
                    & img {
                        position: relative;
                        top: -20px;
                        left: -20px;
                        z-index: 6;
                    }

                    & a {
                        z-index: 6;
                    }
                }

                & #project-4 {
                    & img {
                        position: relative;
                        top: -55px;
                        left: -55px;
                        z-index: 4;
                    }

                    & a {
                        z-index: 4;
                    }
                }
            }
        }
    } */

    /* @container projects (max-height: 800px) {
        #projects > main .project-card {
            & h2 {
                margin-top: 0;
            }

            &:nth-child(4) h2,
            &:nth-child(5) h2 {
                margin-bottom: 0;
            }

            &.figure-card {
                & figure img {
                    width: auto;
                    height: 30cqmin;
                }
            }
        }
    } */

    #resume {
        flex-direction: column;

        & > header {
            height: revert;
            flex-direction: column;

            & > nav {
                & > ul {
                    flex-direction: row;

                    & li {
                        padding: 0.5em 0;
                        font-size: clamp(1.25rem, 2cqh, 2rem);
                        writing-mode: revert;
                        border-width: 2px;
                        transform: none;

                        &.selected-tab {
                            border-bottom: none;
                        }

                        &:first-child {
                            border-left: none;
                        }

                        &:last-child {
                            border-right: none;
                        }

                        &#summary-tab {
                            border-bottom-width: 2px;

                            &.selected-tab {
                                border-bottom: none;
                            }
                        }

                        &#professional-experience-tab {
                            border-top-width: 2px;
                        }

                        & .tab-icon {
                            transform: none;
                        }
                    }
                }
            }

            & > h1 {
                width: revert;
                height: 2.25em;
                font-size: clamp(1em, 1.5em, 2em);
                white-space: nowrap;
                writing-mode: revert;
                border: none;
                transform: none;

                &:has(span) {
                    flex-direction: column;
                }

                &.display-professional-experience {
                    letter-spacing: 0.35em;
                }
            }
        }

        & > main {
            & > .resume-section {
                &#summary {
                    flex-direction: column;
                    &.visible {
                        justify-content: space-evenly;
                    }

                    & > p {
                        width: 100%;
                        padding: calc((3cqw + 2cqh) / 2);
                        font-size: calc((5cqw + 4cqh) / 2);
                    }

                    & > .web-technology-logos {
                        flex-direction: row;
                        overflow-x: hidden;
                        padding: 2.25em 0;

                        & > .logos-list {
                            flex-direction: row;
                            animation-name: logos-ticker-horizontal;

                            & > li > img {
                                height: calc((7cqw + 6cqh) / 2);
                                padding: 0 calc((6cqw + 4cqh) / 2);

                                &.git.featured {
                                    transform: scale(1.35);
                                }

                                &.mongodb.featured {
                                    transform: scale(1.6);
                                }
                            }
                        }
                    }
                }

                &#education {
                    & > ul {
                        row-gap: calc((4.03cqw + 3cqh) / 2);

                        & > li.academics {
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;

                            &:first-child {
                                background-image: linear-gradient(rgb(65, 47, 48, 0.65), rgba(65, 47, 48, 0.85)), url("/images/resume/college_logos/tu_logo.png");
                            }

                            &:last-child {
                                background-image: linear-gradient(rgb(65, 47, 48, 0.65), rgba(65, 47, 48, 0.85)), url("/images/resume/college_logos/hcc_logo.png");
                            }

                            & > details > summary {
                                font-size: 1em;
                                line-height: 1.25em;

                                & > .college {
                                    flex-direction: column;
                                    align-items: flex-start;
                                }
                            }

                            & > img {
                                display: none;
                            }
                        }
                    }
                }

                &#relevant-experience {
                    & > ul {
                        display: block;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        & > li.project {
                            margin-bottom: 0;

                            & > details {
                                & > .project-details {
                                    & > ul {
                                        flex-wrap: wrap;
                                    }
                                }
                            }
                        }
                    }
                }

                &#professional-experience {
                    & > ul {
                        & > li.job {
                            & > img {
                                width: 15%;
                                margin-left: 0.5em;
                            }
                        }
                    }
                }
            }
        }
    }

    #email {
        width: 75%;

        & > form {
            justify-content: center;
            row-gap: 2vh;

            & > h2 {
                margin-top: 0;
                font-size: 5vh;
            }

            & > fieldset {
                row-gap: calc((2.66cqw + 2cqh) / 2);
                width: 100%;

                & > .form-field {
                    & > label {
                        width: 100%;
                        margin-bottom: 3vh;
                        font-size: 3vh;
                        font-weight: 400;
                        font-variation-settings: "wght" 300;

                        &:nth-last-child(2) {
                            margin-bottom: 0;
                        }                        
                    }

                    & > input {
                        font-size: 1.5vh;
                    }

                    & > textarea {
                        height: 20vh;
                        font-size: 1.5vh;
                    }
                }

                & button {
                    font-size: 2vh;
                }
            }
        }
    }
}
