@font-face {
    font-family: 'Amasis';
    src: url('Amasis/Amasis MT Pro Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Amasis';
    src: url('Amasis/Amasis MT Pro Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Amasis';
    src: url('Amasis/Amasis MT Pro Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Amasis';
    src: url('Amasis/Amasis MT Pro Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Amasis';
    src: url('Amasis/Amasis MT Pro Medium Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Amasis';
    src: url('Amasis/Amasis MT Pro Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Amasis';
    src: url('Amasis/Amasis MT Pro Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Al Fresco';
    src: url('Al Fresco/Al Fresco.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('Caviar Dreams/CaviarDreams_Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('Caviar Dreams/CaviarDreams_Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('Caviar Dreams/CaviarDreams_Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('Caviar Dreams/CaviarDreams_BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Cavolini';
    src: url('Cavolini/Cavolini Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cavolini';
    src: url('Cavolini/Cavolini Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hammersmith One';
    src: url('Hammersmith One/Hammersmith One.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato Black Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato Bold Italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato Hairline Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato Light Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('Lato/Lato Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


