#about-me>header h1 {
    display: flex;
    color: #A4C4B7;
    font-size: clamp(2.5rem, 5vw, 8rem);
    font-variation-settings: 'wght' 200;
    text-align: center;
}

#about-me>header h1 div {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#about-me>header h2 {
    color: #F8E3BB;
    font-family: "Praise";
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    text-align: center;
}

#about-me>main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: clamp(2rem, 2.5vw, 4rem);
}

#about-me>main .value-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#about-me>main .value-panel h3 {
    width: 100%;
    font-size: clamp(2rem, 3.75vw, 6rem);
    line-height: clamp(2.5rem, 4.375vw, 7rem);
}

#about-me>main .value-panel p {
    margin-top: 1rem;
    color: #F8E3BB;
    font-size: clamp(1rem, 0.9375vw, 1.5rem);
    text-align: justify;
    line-height: 1.5;
}

#about-me>main .value-panel img {
    width: 80%;
    margin-top: auto;
}

#about-me>main #curiosity h3 {
    font-family: "Margarine";
    color: #f2bc71;
    text-align: left;
}

#about-me>main #creativity h3 {
    color: #e26d5a;
    font-family: "Syncopate";
    text-align: center;
}

#about-me>main #compassion h3 {
    color: #4ca1af;
    font-family: "Clicker Script";
    font-size: clamp(2.5rem, 4.375vw, 7rem);
    font-weight: bold;
    text-align: right;
}

#about-me>main #curiosity p {
    text-align-last: left;
}

#about-me>main #creativity p {
    text-align-last: center;
}

#about-me>main #compassion p {
    text-align-last: right;
}

#about-me>main #curiosity p em {
    color: #f2bc71;
}

#about-me>main #creativity p em {
    color: #e26d5a;
}

#about-me>main #compassion p em {
    color: #4ca1af;
}

#about-me>main #curiosity p em.value-word {
    color: #f2bc71;
    font-family: "Margarine"
}

#about-me>main #creativity p em.value-word {
    color: #e26d5a;
    font-family: "Syncopate";
    font-weight: bold;
}

#about-me>main #compassion p em.value-word {
    color: #4ca1af;
    font-family: "Clicker Script";
    font-size: 1.25em;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1.25;
}