#about {
    container-type: size;
    container-name: about;

    & > header {
        & h1 {
            display: flex;
            flex-wrap: wrap;
            color: var(--french-vanilla-color);
            font-size: clamp(2.5rem, min(12cqw, 10cqh), 8rem);
            font-size: clamp(2.5rem, min(12cqw, 10cqh), 8rem);
            font-variation-settings: "wght" 200;
            text-align: center;

            & div {
                display: flex;
                justify-content: space-between;
                flex: 1 1 50%;
            }

            &.wrapped div:first-child span:last-child {
                display: none;
            }
        }

        & h2 {
            color: #f8e3bb;
            font-family: Praise;
            font-size: clamp(1.5rem, min(10cqw, 8cqh), 4rem);
            text-align: center;
        }
    }

    & > main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: clamp(2rem, 2.5vw, 4rem);

        & .value-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;

            & h3 {
                width: 100%;
                font-size: clamp(2rem, min(6.5cqw, 5.5cqh), 6rem);
                line-height: clamp(2.5rem, min(5.69cqw, 5.31cqh), 7rem);
                text-align: center;
            }

            & p {
                margin-top: 1rem;
                color: var(--french-vanilla-color);
                font-size: clamp(1rem, 0.9375vw, 1.5rem);
                text-align: justify;
                line-height: 1.5;
                hyphens: manual;

                & .value-word {
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }

            & img {
                width: 90%;
                margin-top: auto;
            }
        }

        & #purpose {
            & h3 {
                font-family: Impact;
                /* font-family: Boldonse; */
                font-family: "Nothing You Could Do";
                font-weight: bold;
                color: var(--purpose-color);
            }

            & p {
                & em {
                    color: var(--purpose-color);
                }
            }

            & img {
                /* width: 100%; */
            }
        }

        & #curiosity {
            & h3 {
                font-family: Margarine;
                font-family: Schoolbell;
                color: var(--curiosity-color);
            }

            & p {
                & em {
                    color: var(--curiosity-color);

                    &.value-word {
                        color: var(--curiosity-color);
                        /* font-family: "Margarine"; */
                    }
                }
            }
        }

        & #creativity {
            & h3 {
                color: var(--creativity-color);
                /* font-family: Syncopate; */
                font-family: Griffy;
                font-family: "Bigelow Rules";
                font-family: "Fontdiner Swanky";
                font-family: "Henny Penny";
                font-family: "Fredericka the Great";
            }

            & p {
                & em {
                    color: var(--creativity-color);

                    &.value-word {
                        color: var(--creativity-color);
                        font-weight: bold;
                    }
                }
            }
        }

        & #empathy {
            & h3 {
                color: var(--empathy-color);
                font-size: clamp(2.5rem, min(5.5cqw, 5.15cqh), 8rem);
                font-family: "Clicker Script";
                /* font-family: "Italianno";
                font-family: "MonteCarlo";
                font-family: "Mea Culpa"; */
                font-weight: bold;
            }

            & p {
                & em {
                    color: var(--empathy-color);

                    & .value-word {
                        color: var(--empathy-color);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
