@import url(fonts/fonts.css);

html {
    /* font-size: clamp(12px, 2vw + 1rem, 18px); */
    font-size: 1vw;
}

body {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr min(800px, 100%) 1fr;
    font-family: 'Lato';
    font-size: 1rem;
    /* font-size: 16px;
    font-size: clamp(1rem, 2vw + 1rem, 2rem);*/
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #34627E;
}

header h1 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

header h1 > span:first-child { /* Timothy */
    order: 2;
    position: relative;
    color: #9BBBCA;
    font-family: 'Hammersmith One';
    font-size: 12rem;
    font-variant-caps: small-caps;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #34627E, -1px  1px 0 #34627E, 1px  1px 0 #34627E;
}

header h1 > span:first-child::after { /* underline */
    content: "";
    position: absolute;
    left: 2rem;
    right: 2rem;
    bottom: 0.9rem;
    height: 0.15rem;
    background-color: #fff;
}

/* h1 > svg { */
header h1 > span:nth-child(2) { /* Scott */
    order: 1;
    position: relative;
    top: .5rem;
    left: 2.75rem;
    z-index: 1;
    color: #F1F1E6;
    font-family: 'Al Fresco';
    font-size: 6rem;
    text-shadow: -1px -1px 0 #162B38, 1px -1px 0 #34627E, -1px  1px 0 #34627E, 1px  1px 0 #34627E;
}

header h1 > span:last-child { /* Kipp */
    order: 3;
    position: relative;
    top: 3rem;
    left: -0.5rem;
    color: #F1F1E6;
    font-family: 'Caviar Dreams';
    font-size: 6rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 #162B38, 1px -1px 0 #34627E, -1px  1px 0 #34627E, 1px  1px 0 #34627E;
}

nav {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    background-color: #CECCA8;
    border-top: solid 3px #BCBA88;
    border-bottom: solid 3px #BCBA88;
}

nav ul {
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-around;    
}

nav ul li a {
    padding: 0 0.5rem;
    color: #156082;
    font-size: 1.5rem;
}

nav ul li a:hover {
    color: #9BBBCA;
}

nav ul li a:visited {
    color: #687987;
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}