header, footer {
    display: flex;
    opacity: 0;
    animation: fadeIn 2s 4s forwards;
}

header {
    grid-row: 1;            
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 0.75em;
    border-bottom: 5px solid var(--light-color);
}

footer {
    grid-row: 3;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 0.75em;
    border-top: 5px solid var(--dark-color);
}


nav {    
    font-family: 'Poppins';
    z-index: 2;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav > ul > li {
    margin: 0 clamp(0.25rem, 1.25vw, 2rem);
    color: var(--dark-color);
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: clamp(0.05rem, 0.185vh, 0.15rem) 0.5rem;
    box-sizing: border-box;
    aspect-ratio: 1;
    font-size: clamp(1rem, 0.9375vw, 1.5rem);
    color: var(--dark-color);
    text-transform: lowercase;
    text-decoration: none;
    background-color: transparent;
    border-radius: 50%;
    transition: color 0.2s ease-in-out, background-color 0.1s ease-in-out;
}

a > span {
    display: none;
}

a > svg {
    fill: var(--dark-color);
}

a:hover {
    background-color: var(--dark-color);
    cursor: pointer;
}

header a:hover, header a svg:hover {
    color: greenyellow;
    fill: greenyellow;
    border: 2px solid greenyellow;
}

footer a:hover, footer a svg:hover {
    color: #CB2660;
    fill: #CB2660;
    border: 2px solid #CB2660;    
}

@property --fill {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

a::after {
    position: absolute;
    z-index: -1;
    content: '';
    inset: -3px;
    border-radius: inherit;
    --fill: 0deg;
    transition: --fill 0.4s ease-in-out;
}

/* header a::after {
    background: conic-gradient(greenyellow var(--fill), transparent var(--fill));
}

footer a::after {
    background: conic-gradient(#CB2660 var(--fill), transparent var(--fill));
} */

a:hover::after {
    --fill: 360deg;
}

a:not(:hover) {
    transition: background-color 0.4s ease-in-out 0.4s, color 0.4s ease-in-out 0.4s;
}

@media (min-width: 480px) {
    a {
        display: inline;
        border-radius: 10%;
    }
    
    a > svg {
        display: none;
    }
    a > span {
        display: inline;
    }
}