#hero hgroup {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    padding: 1.924vh 1.46875vw;
    font-family: 'Bebas Neue Regular';
    font-size: clamp(2.5rem, 6.25vw, 10rem);
    text-transform: uppercase;
    transition: clip-path 1s ease-out;
}

@media (max-height: 261px) {
    hgroup {
        font-size: 2rem;
    }
}

#hero hgroup:first-of-type {
    left: 0;
    color: var(--light-color);
    text-align: left;
    background-color: var(--dark-color);  
    background: linear-gradient(180deg, var(--dark-color), #5D8C96);
    animation: wipeDown 2s forwards;
}

#hero hgroup:first-of-type h1 {
    background: var(--light-color);
    background: linear-gradient(0deg, rgba(175,240,240,1) 0%, rgba(175,240,240,1) 0%, rgba(204,245,245,1) 40%, rgba(219,248,248,1) 50%, rgba(204,245,245,1) 60%, rgba(175,240,240,1) 100%);
    background-clip: text;
    color: transparent;
}

#hero hgroup:first-of-type h1:last-child {
    color: greenyellow;
    font-family: 'Al Fresco';
    text-transform: none;
}

#hero hgroup:last-of-type {
    justify-content: flex-end;
    align-items: flex-end;
    right: 0%;
    color: var(--dark-color);
    background-color: var(--light-color);
    background: linear-gradient(180deg, #5D8C96, var(--light-color));
    transform: translateY(112%);
    animation: wipeUp 2s 2s forwards;
}

#hero hgroup:last-of-type h1 {
    background: var(--dark-color);
    background: linear-gradient(0deg, rgba(16,46,66,1) 0%, rgba(95,115,129,1) 40%, rgba(148,161,171,1) 50%, rgba(95,115,129,1) 60%, rgba(16,46,66,1) 100%);
    background-clip: text;
    color: transparent;
}

#hero hgroup:last-of-type h1:last-child {
    color: #CB2660;
    font-family: 'Courier New', Courier, monospace;
    text-transform: none;
}

.my-name {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    font-family: 'Amasis';
    font-size: clamp(1.75rem, 7.5vw, 12rem);
    line-height: clamp(2rem, 10vw, 16rem);
    white-space: nowrap;
    transform: translate(-50%, -60%);
    animation: fadeIn 2s 4s forwards;
}

.my-name span {
    display: inline-block;
    background: linear-gradient(0deg, var(--dark-color), var(--light-color));
    background-clip: text;
    color: transparent;
}

.my-name span::first-letter{
    font-size: clamp(2.25rem, 8.75vw, 14rem);
    vertical-align: -7.5%;
}

.my-name:first-of-type {
    /* color: var(--dark-color); */
}

.my-name:last-of-type {
    /* color: var(--light-color); */
    clip-path: inset(0% 0% 40% 0%);
}