body > main #home {
    container-type: size;
    container-name: home;
    width: 100%;
    max-width: 900px;
}

body > main section > hgroup {
    width: 100%;
}

body > main::-webkit-scrollbar {
    display: none;
}

body > main hgroup {
    margin: 0 auto;
    overflow-x: visible;
}

#home #logo-stack {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    overflow: visible;
    font-variation-settings: "wght" 300;
    font-size: clamp(1rem, min(5.94cqw, 4.88cqh), 3.875rem);
}

#home #logo-stack h1 {
    width: 100%;
}

#home #web {
    overflow-x: visible;
    margin-top: -2rem;
    font-variation-settings: "wght" 700;
    font-size: clamp(7.5rem, 29.698cqw, 16rem);
    background-color: black;
    color: transparent;
    line-height: 0.875;
    text-shadow: 0px 4px 3px #e26d5a;
    -webkit-background-clip: text;
    background-clip: text;
}

#home .word {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}

#home #design {
    justify-content: space-between;
    align-items: flex-start;
    color: #f2bc71;
}

#home #development {
    align-items: flex-end;
    margin-top: clamp(-1.5lh, -3.5lh, -1.2lh);
    color: #4ca1af;
}

#home #name {
    position: relative;
    margin: 10px 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #714f50;
    color: #ffffeb;
    font-variation-settings: "wght" 600;
    font-size: clamp(1.5rem, 10.67cqmin, 6rem);
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #e26d5a;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #e26d5a;
}

#home #name h2 {
    display: flex;
    justify-content: space-between;
}

#home #name h2 span:nth-of-type(2),
#name h2 span:nth-of-type(6) {
    position: relative;
    top: 0.12em;
    font-family: "Praise", cursive;
}

#home #titles {
    display: flex;
    justify-content: space-between;
    margin-top: clamp(0.25rem, 1cqh, 2rem);
    font-variation-settings: "wght" 400;
    font-size: clamp(1.25rem, 3.56cqmin, 2rem);
}

#home #titles h3 {
    display: flex;
    justify-content: space-between;
}

#home #titles h3:first-of-type,
#titles h3:last-of-type {
    width: 100%;
}

#home #titles h3:first-of-type div,
#titles h3:last-of-type div {
    width: 100%;
}

#home #titles h3 div {
    display: flex;
    justify-content: space-between;
}

#home #titles .title-1 {
    color: #f2bc71;
}

#home #titles .delimiter {
    color: #e26d5a;
}

#home #titles .delimiter:nth-child(4) {
    margin-left: clamp(1em, 5cqw, 5em);
    margin-right: clamp(1em, 5cqw, 5em);
}

#home #titles .title-2 {
    color: #4ca1af;
}
