@import url(fonts/fonts.css);
@import url(header_footer.css);
@import url(hero.css);
@import url(about.css);
@import url(animations.css);


:root {
    --light-color: #aff0f0;
    /* --light-color: #61C2E9; */
    /* --light-color: #00ABF1; */
    /* --dark-color: #3E3D32; */
    --dark-color: #102E42;
}

@media (pointer: coarse) {
    * {
      touch-action: none;
    }
  }

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 12.5% 75% 12.5%;
    grid-template-columns: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F9F8E9;
}

@media (min-height: 1200px) {
    body {
        grid-template-rows: 7.5% 85% 7.5%;
    }
}

main {
    grid-row: 2;
    display: flex;
    width: 300vw;
    height: 100%;
    overflow-x: hidden;
}

section {
    width: 100vw;
    height: 100%;
    position: relative;    
}