body {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 0.75fr 1fr 1.75fr 1fr 0.75fr;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    font-family: "seitu-variable", sans-serif;
    background-color: #ffffeb;
}

header, footer {
    grid-column: 2 / 5;    
    display: flex;
    position: sticky;
    z-index: 100;
}

header {
    grid-row: 1;
    justify-content: flex-end;
    align-items: flex-end;
    top: 0;
    padding-bottom: 0.75em;
    background-color: #e26d5a;
}

footer {
    grid-row: 3;
    justify-content: flex-start;
    align-items: flex-start;
    bottom: 0;
    background-color: #e26d5a;
}

nav {
    margin: 0.75em;
}

header nav {
    margin-bottom: 0;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li {
    text-transform: lowercase;
    white-space: nowrap;
}

nav ul li + li {
    margin-left: 2rem;
}

nav ul li a {
    color: #ffffeb;
    font-size: clamp(16px, 1.25vw, 32px);
    text-decoration: none;
    transition: border 0.2s ease;
}

nav ul li a > span {
    display: none;
}

aside:first-of-type {
    grid-row: 2;
    grid-column: 1;
    background-color: #f2bc71;
}

main {
    grid-row: 2;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

main section {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: visible;
    scroll-snap-align: start;    
}

main section > hgroup {
    width: 100%;
}

main::-webkit-scrollbar {
    display: none;
}

aside:last-of-type {
    grid-row: 2;
    grid-column: 5;
    background-color: #4ca1af;
}

main hgroup {
    margin: 0 auto;
    overflow-x: visible;
}

#logo-stack {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    overflow: visible;
    font-variation-settings: 'wght' 300;
    font-size: clamp(16px, 2vw, 51px);
}

#logo-stack h1 {
    width: 100%;
}

#web {
    overflow-x: visible;
    font-variation-settings: 'wght' 700;
    font-size: clamp(120px, 10vw, 256px);
    /* text-shadow: 0.1em 0.1em 9px rgba(0,0,0,0.5); */
    background-color: black;
    color: transparent;
    text-shadow: 0px 4px 3px #e26d5a;
    -webkit-background-clip: text;
    background-clip: text;
}

.word {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

#design {
    justify-content: space-between;
    align-items: flex-start;
    color: #f2bc71;
}

#development {
    align-items: flex-end;
    margin-top: clamp(-75px, -3vw, -15px);
    color: #4ca1af;
}

#name {
    position: relative;
    margin: 10px 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #714F50;
    font-variation-settings: 'wght' 600;
    font-size: clamp(24px, 3.75vw, 96px);
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #e26d5a;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #e26d5a;
}

#name h2 {
    display: flex;
    justify-content: space-between;
    
}

#name h2 span:nth-of-type(2)  {
    font-family: "Praise", cursive;
    position: relative;
    top: 0.12em;
}

#name h2 span:nth-of-type(6)  {
    position: relative;
    top: 0.12em;
    font-family: "Praise", cursive;
}

#titles {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-variation-settings: 'wght' 400;
    font-size: clamp(20px, 1.25vw, 32px);
}

#titles h3 {
    display: flex;
    justify-content: space-between;
}

#titles h3:first-of-type, #titles h3:last-of-type {
    width: 100%;
}

#titles h3:first-of-type div, #titles h3:last-of-type div {
    width: 100%;
}

#titles h3 div {
    display: flex;
    justify-content: space-between;
}

#titles .title-1 {    
    color: #f2bc71;    
}

#titles .delimiter {
    color: #e26d5a;
    /* text-shadow: 0.45em 0.45em 0.27em rgba(0, 0, 0, 0.5); */
}

#titles .title-2 {
    color: #4ca1af;
}

#projects {
    width: 100%;
    height: 100%;
    /* background-color: #4ca1af; */
}

#projects h1 {
    display: flex;
    justify-content: space-between;
    font-size: clamp(60px, 4vw, 128px);
    text-align: justify;
    text-transform: uppercase;
    background-color: black;
    color: transparent;
    text-shadow: 0px 4px 3px #e26d5a;
    -webkit-background-clip: text;
    background-clip: text;
}

#projects h2 {
    
}

/* For phones, portrait orientation */
@media (max-width: 480px) {
    body {
        grid-template-columns: 0.15fr 1.5fr 1.7fr 1.5fr 0.15fr;
        column-gap: 0.75rem;
    }

    header, footer {    
        grid-column: 1 / 6;
    }

    main {
        grid-column: 2 / 5;
        margin: 0.25rem 0;
    }

    #name {
        padding-top: 20px;
        -webkit-text-stroke: 0.5px #412F30;
    }

    #titles {
        margin-top: 2.5px;
    }

    #titles h3  {
        flex-direction: column;
    }

    #titles h3:last-of-type {
        align-items: flex-end;
    }

    #titles h3:first-of-type div {
        justify-content: flex-start;
    }
    
    #titles h3:first-of-type div span {
        margin-right: 0.15em;
    }
    
    #titles h3:last-of-type div {
        justify-content: flex-end;
    }

    #titles h3:last-of-type div span {
        margin-left: 0.15em;
    }

    #titles .delimiter {
        display: none;
    }
}

/* For phones, landscape orientation */
@media (max-height: 375px) and (orientation: landscape) {    
    body {
        grid-template-columns: 0.15fr 1fr 1.75fr 1fr 0.15fr;
    }
    
    header nav {
        margin-bottom: -5px;
    }

    footer nav {
        margin-top: 5px;
    }

    nav ul li a {        
        font-size: 15px;
    }

    #logo-stack {        
        font-size: clamp(10px, 1.5vw, 18px);
    }

    #web {
        font-size: clamp(24px, 10vw, 60px);
        text-shadow: 0.1em 0.1em 9px rgba(0,0,0,0.5);
        color: transparent;
        text-shadow: 0px 3px 3px #e26d5a;
        -webkit-background-clip: text;
        background-clip: text;
    }

    #name {        
        margin: 5px 0;
        padding: 10px 0;        
        font-size: clamp(20px, 3vw, 72px);        
        border-top-width: 2px;
        border-bottom-width: 2px;
    }

    #titles {        
        margin: 2.5px 0;
        font-size: 16px;
    }

    #titles h3  {
        flex-direction: column;
    }

    #titles h3:last-of-type {
        align-items: flex-end;
    }

    #titles h3:first-of-type div {
        justify-content: flex-start;
    }
    
    #titles h3:first-of-type div span {
        margin-right: 0.15em;
    }
    
    #titles h3:last-of-type div {
        justify-content: flex-end;
    }

    #titles h3:last-of-type div span {
        margin-left: 0.15em;
    }

    #titles .delimiter {
        display: none;
    }
}

/* For devices larger than phones or phones in landscape orientation */
@media (min-width: 480px) {
    nav ul li a {
        display: inline;
    }
    
    nav ul li a > svg {
        display: none;
    }
    nav ul li a > span {
        display: inline;
    }

    nav ul li a:hover,
    nav ul li a:focus {
        border-top:2px solid #ffffeb;
        border-bottom:3px solid #ffffeb;
        cursor: pointer;
    }
}

/* For tablets, portrait and landscape orientations */
@media (min-width: 600px) and (max-width: 1280px) {
    nav ul li a {
        font-size: 24px;
    }

    #name h2 {
        padding-top: 5px;
    }

    #titles h3 {
        flex-wrap: wrap;
    }

    #titles #vertical-bar {
        margin: 0 1em;
    }

    #titles #vertical-bar span:nth-of-type(4) {
        display: none;
    }
}

/* for tablets in portrait orientation */
@media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
    nav ul li a {
        font-size: 24px;
    }

    /* main {
        grid-column: 2 / 5;
    } */

    main {
        transform: scale(1.5);
    }

    #name h2 {
        padding-top: 10px;
    }
}

@media (min-width: 1025px) and (orientation: portrait) {
    nav ul li a {
        font-size: 24px;
    }

    main {
        transform: scale(1.5);
    } 
}