body > main section#landing {
    width: calc(100% * (1.75 / 3.75));
    max-width: 100%;
}

body > main section > hgroup {
    width: 100%;
}

body > main::-webkit-scrollbar {
    display: none;
}

body > main hgroup {
    margin: 0 auto;
    overflow-x: visible;
}

#landing #logo-stack {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
    overflow: visible;
    font-variation-settings: 'wght' 300;
    font-size: clamp(1rem, 2vw, 3.875rem);
}

#landing #logo-stack h1 {
    width: 100%;
}

#landing #web {
    overflow-x: visible;
    font-variation-settings: 'wght' 700;
    font-size: clamp(7.5rem, 10vw, 16rem);
    background-color: black;
    color: transparent;
    text-shadow: 0px 4px 3px #e26d5a;
    -webkit-background-clip: text;
    background-clip: text;
}

#landing .word {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

#landing #design {
    justify-content: space-between;
    align-items: flex-start;
    color: #f2bc71;
}

#landing #development {
    align-items: flex-end;
    margin-top: clamp(-75px, -3vw, -15px);
    color: #4ca1af;
}

#landing #name {
    position: relative;
    margin: 10px 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #714F50;
    color:#ffffeb;  
    font-variation-settings: 'wght' 600;
    font-size: clamp(1.5rem, 3.75vw, 6rem);
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #e26d5a;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #e26d5a;
}

#landing #name h2 {
    display: flex;
    justify-content: space-between;
    
}

#landing #name h2 span:nth-of-type(2), #name h2 span:nth-of-type(6)  {
    position: relative;
    top: 0.12em;
    font-family: "Praise", cursive;
}

#landing #titles {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-variation-settings: 'wght' 400;
    font-size: clamp(20px, 1.25vw, 32px);
}

#landing #titles h3 {
    display: flex;
    justify-content: space-between;
}

#landing #titles h3:first-of-type, #titles h3:last-of-type {
    width: 100%;
}

#landing #titles h3:first-of-type div, #titles h3:last-of-type div {
    width: 100%;
}

#landing #titles h3 div {
    display: flex;
    justify-content: space-between;
}

#landing #titles .title-1 {    
    color: #f2bc71;    
}

#landing #titles .delimiter {
    color: #e26d5a;
}

#landing #titles .title-2 {
    color: #4ca1af;
}