name: Deploy Website via SFTP

on:
push:
branches:
- main

jobs:
deploy:
runs-on: ubuntu-latest
steps:
- name: Checkout repository
uses: actions/checkout@v3

  - name: Deploy public folder contents
    uses: appleboy/scp-action@v0.1.6
    with:
      host: ${{ secrets.FTP_HOST }}
      username: ${{ secrets.FTP_USERNAME }}
      password: ${{ secrets.FTP_PASSWORD }}
      port: ${{ secrets.FTP_PORT }}
      source: "public/*"
      target: "/home/timkipp/timothyscottkipp.com"
      strip_components: 1

  - name: Deploy backend folder
    uses: appleboy/scp-action@v0.1.6
    with:
      host: ${{ secrets.FTP_HOST }}
      username: ${{ secrets.FTP_USERNAME }}
      password: ${{ secrets.FTP_PASSWORD }}
      port: ${{ secrets.FTP_PORT }}
      source: "backend/*"
      target: "/home/timkipp/backend"

  - name: Deploy vendor folder
    uses: appleboy/scp-action@v0.1.6
    with:
      host: ${{ secrets.FTP_HOST }}
      username: ${{ secrets.FTP_USERNAME }}
      password: ${{ secrets.FTP_PASSWORD }}
      port: ${{ secrets.FTP_PORT }}
      source: "vendor/*"
      target: "/home/timkipp/vendor"

  - name: Deploy composer.json
    uses: appleboy/scp-action@v0.1.6
    with:
      host: ${{ secrets.FTP_HOST }}
      username: ${{ secrets.FTP_USERNAME }}
      password: ${{ secrets.FTP_PASSWORD }}
      port: ${{ secrets.FTP_PORT }}
      source: "composer.json"
      target: "/home/timkipp"

  - name: Deploy composer.lock
    uses: appleboy/scp-action@v0.1.6
    with:
      host: ${{ secrets.FTP_HOST }}
      username: ${{ secrets.FTP_USERNAME }}
      password: ${{ secrets.FTP_PASSWORD }}
      port: ${{ secrets.FTP_PORT }}
      source: "composer.lock"
      target: "/home/timkipp"